/* GuestbookWriteModal.css */

/* 모달 오버레이 스타일 */
.guestbook-write-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 모달 컨텐츠 스타일 */
.guestbook-write-modal-content {
    background-color: white;

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 16px;
    border-radius: 15px;
    width: 90%;
    max-width: 320px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
}

/* 닫기 버튼 스타일 */
.guestbook-write-modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
    color: #999;
    transition: color 0.3s;
}

.guestbook-write-modal-close:hover {
    color: #333;
}

/* 제목 스타일 */
.guestbook-write-modal-content h3 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 22px;
}

/* 입력 필드 스타일 */
.modal-input-text,
.modal-input-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 6px;
    box-sizing: border-box;
}

.modal-input-textarea {
    resize: none;
    height: 120px;
}

/* 작성 버튼 스타일 */
.write-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.write-button:hover {
    background-color: #333;
}

.modal-input-textarea::placeholder {
    font-size: 11px; /* 원하는 크기로 조정 */
    color: #999; /* 색상도 필요에 따라 조정 */
}
.modal-input-text::placeholder {
    font-size: 11px; /* 원하는 크기로 조정 */
    color: #999; /* 색상도 필요에 따라 조정 */
}