/* 전체 컨테이너 */
.guestbook-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Pretendard';
    background-color: rgb(252, 250, 248);
}

/* 방명록 항목 리스트 */
.guestbook-entries {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 방명록 카드 */
.guestbook-card {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
    width: 100%;
}

.guestbook-card:hover {
    transform: scale(1.02);
}

/* 카드의 헤더 */
.guestbook-card-header {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
    text-align: left;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between; /* 이름과 X 버튼을 양 끝으로 배치 */
    align-items: center;
    
}

/* 카드 본문 */
.guestbook-card-body {
    font-size: 10px;
    margin-bottom: 10px;
    color: #555;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* 원하는 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap; /* 줄바꿈 허용 */
}

/* 카드의 푸터 */
.guestbook-card-footer {
    font-size: 12px;
    color: #999;
    text-align: right;
}

/* 더보기와 글쓰기 버튼을 같은 줄에 배치 */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

/* 더보기 버튼 */
.show-more-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-more-button:hover {
    background-color: #e0e0e0;
}

/* 글쓰기 버튼 */
.write-button {
    padding: 10px 20px;
    background-color: #fabd84;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.write-button:hover {
    background-color: #e09b63;
}


/* 모달 제목 */
.modal-content h3 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

/* 모달 본문 텍스트 */
.modal-content p {
    font-size: 10px;
    line-height: 1.5;
    color: #555;
    white-space: pre-wrap; /* 줄바꿈 허용 */
    margin-bottom: 20px;
}

/* 모달 닫기 버튼 (하단) */
.close-modal-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.close-modal-button:hover {
    background-color: #d32f2f;
}

/* 모달 타임스탬프 */
.modal-content .timestamp {
    font-size: 0.9em;
    color: #999;
    margin-top: 10px;
    text-align: right;
}


/* 모달 내부 입력 필드 */
.modal-input-text,
.modal-input-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.modal-input-textarea {
    resize: none;
    height: 120px; /* textarea의 고정 높이 */
}

/* 모달 작성하기 버튼 */
button[type="submit"] {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #333;
}

.delete-button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 12px;
}

.date-span{
    font-size: 10px;
    opacity: 0.7
}

.guestbook-list-name{
    font-size: 11px;
    font-weight: bold;
}

.font-size-13{
    font-size: 13px;
}

.guestbook-container-title-english{
     color:#bf8362; 
     display: block;
     opacity: 0.6; /* 0에서 1 사이 값으로 설정. 0.6은 60% 불투명도 */
     letter-spacing: 4px;
     font-size: 13px;
}

.guestbook-container-title-korean{
    color:#bf8362; 
    font-size: 18px;
    letter-spacing: 1px;
    display: block; /* 줄바꿈을 위해 block이나 inline-block 사용 */
    margin-top: 2px; /* 필요한 만큼 여백을 설정 */
}

.guestbook-container-title{
    margin-bottom: 18px;
    display: block;
}

/* 모달 오버레이 - 화면 전체에 고정 */
.modal-overlay {
    position: fixed; /* 화면 전체에 고정 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 상단에 표시되도록 높은 z-index */
}

/* 모달 컨텐츠 - 중앙에 고정 */
.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 320px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
}

/* 상단 닫기 아이콘 */
.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
    color: #999;
    transition: color 0.3s;
}

.modal-close:hover {
    color: #333;
}
