.countdown-timer {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 가로 중앙 정렬 */
    margin-bottom: 20px;
    margin-top: 10px;
}

.countdown-title {
    font-size: 18px; /* 문구 폰트 사이즈 */
    color: #333; /* 문구 색상 */
    margin-bottom: 10px; /* 아래 여백 추가 */
    text-align: center; /* 중앙 정렬 */
}

.countdown-display {
    font-size: 14px; /* 큰 폰트 사이즈 */
    /* color: rgb(219, 20, 60, 0.5); */
    margin: 0; /* 기본 여백 제거 */
    margin-top: 22px;
    text-align: center; /* 중앙 정렬 */
}

.time-day{
    font-weight: bold;
}