.AttendanceStatus-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.AttendanceStatus-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 80%;
  text-align: center;
  position: relative;
}

.AttendanceStatus-content h2{
  font-size: 18px;
}

.AttendanceStatus-content p{
  font-size: 16px;
}


.AttendanceStatus-content hr{
  color: #757575;
}

.AttendanceStatus-event-details_font:nth-child(1){
  margin: 0px;
  margin-top: 16px;
}

.AttendanceStatus-event-details_font:nth-child(2){
  margin: 0px;
  margin-top: 8px;
}

.AttendanceStatus-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.section {
  margin: 15px 0;
  text-align: left;
}

.section-label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 12px;
}

.AttendanceStatus-content_h2{
  font-size: 20px;
  padding-bottom: 14px;
  font-weight: 500;
}

.choice-button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
}

.choice-button.selected {
  background-color: #d9caae;
  color: white;
  border-color: #d9caae;
}

.input-group {
  margin: 15px 0;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 6px;
}

.consent-group {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.consent-group input {
  margin-right: 5px;
}
.consent{
  color: #757575;
}

/* 참석여부 전달하기 버튼 스타일 */
.AttendanceStatus-confirm-button {
  background-color: #d9caae;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

.AttendanceStatus-confirm-button:hover {
  background-color: #d9caae;
}

.submit-button {
  background-color: #d9caae;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
