.schedule-calandar-wrapper {
    width: 100%;
    max-width: 480px;
    margin: auto;
    
}

.common-calandar {
    border-radius: 8px; /* Keep rounded corners */
}

.common-calandar-table {
    display: flex;
    flex-direction: column;
}

.common-calandar-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7개의 열을 동일한 너비로 설정 */
    background-color: transparent; /* 배경색 투명 */
    /*border-bottom: 2px solid rgb(219, 20, 60, 0.5); /* 요일 텍스트 위 경계선 추가 */
}

.common-calandar-header {
    /*border-bottom: 1px solid rgb(219, 20, 60, 0.5); /* Add bottom border above the day names */
}

.common-calandar-day {
    text-align: center;
    padding: 10px;
    font-weight: bold;
   
}

.common-calandar-day.sunday {
    color: rgba(219, 20, 60, 0.5); /* Color for '일' */
}

.common-calandar-day.monday,
.common-calandar-day.tuesday,
.common-calandar-day.wednesday,
.common-calandar-day.thursday,
.common-calandar-day.friday,
.common-calandar-day.saturday {
    color: black; /* Color for '월','화', '수', '목', '금', '토' */
}

.common-calandar-date {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    border: none; /* Remove border for each date cell */
    background-color: transparent; /* Make each date cell background transparent */
    color: rgba(0, 0, 0, 0.5); /* 연한 검은색으로 설정 */
}

.common-calandar-date span {
    display: block;
}

.common-calandar-date .d-day {
    color: red; /* Highlight D-Day */
    font-weight: bold;
}

.common-calandar-date .mark {
    display: none; /* Show mark if needed */
}

.circle {
    background-color: #fff1d6; /* Circle background color for wedding date */
    border-radius: 50%; /* Keep the circle shape */
    width: 36px; /* 동그라미 크기 조정 */
    height: 36px; /* 동그라미 크기 조정 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; /* Center alignment */
    color: rgba(0, 0, 0, 0.5); /* Set wedding date font color to white */
}

.wedding-date {
    display: block; /* Display as block element */
    font-size: 18px; /* Desired font size */
    color: #333; /* Desired color */
    /*margin-bottom: 20px; /* Add bottom margin */
    text-align: center; /* Center align */

}

.red-text {
   /*  color: rgb(219, 20, 60, 0.5); */
    text-align: center; /* Left align the text */
    margin-left: 16px; /* Add left margin */
    font-family: 'Pretendard'; /* Set font family */
    line-height: 0.8; /* 줄 높이 설정 (원하는 값으로 조정) */
    margin-bottom: 40px;
    font-size: 16px;
    margin-top: 30px;
}

.common-calandar-date {
    text-align: center; /* 중앙 정렬 */
    position: relative; /* 위치 조정을 위해 상대적으로 설정 */
}

.wedding-day-text {
    font-size: 0.8em; /* 텍스트 크기 조정 */
    color: red; /* 텍스트 색상 설정 */
    margin-top: 4px; /* 숫자와 문구 사이의 간격 조정 */
}
.common-calandar-date {
    position: relative; /* 위치 속성을 사용하기 위해 상대적으로 설정 */
    text-align: center; /* 가운데 정렬 */
}

.wedding-day-text {
    position: absolute; /* 절대 위치 지정 */
    top: 100%; /* 부모 요소의 100% 아래로 위치 설정 */
    left: 50%; /* 부모 요소의 가운데로 위치 설정 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 변환 */
    margin-top: 5px; /* 날짜와 문구 사이의 간격 조정 */
    font-size: 8px;
    width: 100%;
    color: rgba(0, 0, 0, 0.5); /* 연한 검은색으로 설정 */
}

.countdown-timer {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 가로 중앙 정렬 */
    margin-bottom: 40px;
}

.countdown-title {
    font-size: 18px; /* 문구 폰트 사이즈 */
    color: #333; /* 문구 색상 */
    margin-bottom: 10px; /* 아래 여백 추가 */
    text-align: center; /* 중앙 정렬 */
}

.countdown-display {
    font-size: 14px; /* 큰 폰트 사이즈 */
    /* color: rgb(219, 20, 60, 0.5); */
    margin: 0; /* 기본 여백 제거 */
    margin-top: 10px;
    text-align: center; /* 중앙 정렬 */
}

.time-day{
    font-weight: bold;
}