
/* 프로젝트 전체에 Pretendard 폰트 적용 */
* {
  font-family: 'Pretendard', sans-serif;
}

html, body{
  overflow-x: hidden; /* 수평 스크롤 숨기기 */
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#root {
  padding-bottom: 3rem;
}

.App {
  text-align: center;
  box-shadow: 0px 0px 18px rgb(0 0 0 / 10%);
 /*  background-color: rgb(243, 239, 236); */
}

/* PC 모드에서만 max-width를 400px로 제한 */
@media (min-width: 1024px) {
  .App {
    max-width: 480px; /* 전체 너비를 400px로 제한 */
    margin: 0 auto; /* 수평 중앙 정렬 */
  }
}

/* PC 모드에서만 max-width를 400px로 제한 */
@media (max-width: 1023px) {
  .App {
    max-width: 480px; /* 전체 너비를 400px로 제한 */
    margin: 0 auto; /* 수평 중앙 정렬 */
    overflow: hidden;
  }
}

@media(min-width: 768px) {
  .App {
    max-width: 480px;
    overflow: hidden;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
}

.red {
  color: red;
}

div {
  box-sizing: border-box;
  user-select: none; /* 텍스트 선택 불가 */
    outline: none; /* 포커스 아웃라인 제거 */
}

.list {
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
