/* 공통 스타일 */

.section-header {
    cursor: pointer;

    display: flex;
    /* justify-content: center;  텍스트를 가운데 정렬 */
    position: relative;
    font-size: 16px; 
    padding: 16px 0;

    background-color: #F0EAE1;
    border: 1px solid #DED6CC;
    color: #8C6E47;
    padding:10px;
  }
  
  .section-header.hus { 
    padding:10px;
    color: #6A6E4F;
    background-color: #E6E7DC; 
    border: 1px solid #DBDDCD;
  }

  .section-header i {
    position: absolute;
    right: 10px; /* 아이콘을 우측으로 정렬 */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .section-content {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1.5s ease-out, opacity 1.5s ease-out;

  }
  
  .section-content.open {
    max-height: 1000px; /* 충분히 큰 값으로 설정하여 내부 내용이 모두 표시되도록 */
    opacity: 1;
  }

  .person-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid #e0e0e0; /* 사람 간 경계를 위한 경계선 추가 */
  }
  
  .person-info-wrapper:last-child {
    border-bottom: none; /* 마지막 사람에는 경계선을 표시하지 않음 */
  }
  
  .person-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
    text-align: left; /* 왼쪽 정렬 */
  }
  
  .person-account {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .person-span{
    margin-bottom: 12px;
  }
  .account-text {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 우측 정렬 */
  }
  
  /* 버튼 크기 동일하게 설정 */
  .kakao-button, .copy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; /* 버튼의 고정 너비 */
    height: 40px; /* 버튼의 고정 높이 */
    font-size: 14px; /* 동일한 폰트 크기 */
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    border: solid 0.5px rgb(207, 203, 203);
  }
  
  .kakao-button {
    background-color: rgb(255, 220, 25);
    border: none;
    margin-bottom: 5px; /* 버튼 사이 간격 */
  }
  
  .copy-button {
    background-color: #fff;
  }
  
  .kakao-button i, .copy-button i {
    margin-right: 5px; /* 아이콘과 텍스트 간의 간격 */
  }
  


  